{% extends '../layout.html' %}
{% block titulo %}Inventario Software{% endblock  %}
{% block contenido %}
<body>
    <main class="contenedor">
        <div class="contenido__table">
            <h1 class="no-margin">Faltantes Inventario Software : </h1>
            <p class="no-margin">No se actualizo el inventario por un problema de red</p>
            <div class="opciones__table marginb-04">
                <div class="opciones__table--boton">                
                    <!-- <a title="ACTUALIZA EL INVENTARIO DE HARDWARE" href="{% url 'agregar_colaborador' %}">Ejecutar Inventario</a>                                         -->                     
                     <button id="ejecutar_inventario_faltantes_s">Ejecutar Faltantes</button>
                     <a title="VOLVER A INVENTARIO SOFTWARE" href="{% url 'listar_inventario_software' %}">Volver</a>                     
                </div>                 
                    <!-- <a title="ACTUALIZA EL INVENTARIO DE HARDWARE PARA LOS FALTANTES" href="{% url 'agregar_colaborador' %}">Ejecutar Faltantes</a>                                         -->                                                                                     
            </div>
            <table class="table" id="tabla_inventario_h">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Nombre Colaborador</th>                                                                        
                        <th>Ultimo Realizado</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for faltante in lista_faltantes %}
                    <tr>
                        <td>{{ faltante.codigo_ip.ip }}</td>
                        <td>{{ faltante.codigo_colaborador.nombre_colaborador }}</td>
                        <td>{{ faltante.fecha_modificacion|date:"d-m-Y" }}</td>                        
                    </tr>
                    {% endfor %}                    
                </tbody> 
            </table>
        </div>
        <script>
            const csrftoken = "{{ csrf_token }}";
        </script> 
    </main>        
</body>
{% endblock  %}