<table class="table">              
    <tbody>
        {% for ip in listado_ips %}                    
            <tr>
                <td>
                    <div class="listado">
                        <div class="listado_informacion">
                            <div class="listado_informacion_data">
                                <p class="no-margin"><span>Colaborador Asignado:</span> {{ ip.colaborador_asignado.nombre_colaborador|default:"Sin colaborador Asignado" }}</p>                                            
                            </div>                                    
                            <div class="listado_informacion_data">
                                <h3 class="no-margin">Redes:</h3>
                                <ul>
                                    <li><span>IP:</span> {{ ip.ip }}</li>
                                    <li><span>VLan:</span> {{ ip.vlan }}</li>
                                    <li><span>Switch:</span> {{ ip.switch }}</li>
                                    <li><span>Puerto:</span> {{ ip.puerto }}</li>
                                    <li><span>Mac:</span> {{ ip.mac }}</li>
                                </ul>
                                <h3 class="no-margin">Opciones:</h3>
                                <ul>
                                    <li>
                                        <a title="EDITAR DATOS DE LA IP" href="{% url 'editar_ip' pk=ip.pk %}">                                            
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="50"
                                            height="50"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="#5856d6"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            >
                                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                            <path d="M13.5 6.5l4 4" />
                                            </svg>
                                        </a>
                                        <a title="AGREGAR INTERVENCIONES DE TI" href="{% url 'agregar_intervencion_ti' ip=ip.ip %}">                                            
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="50"
                                            height="50"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="#ff9500"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            >
                                            <path d="M11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0l7.407 -7.385" />
                                            <path d="M18.121 15.293l2.586 -2.586a1 1 0 0 0 0 -1.414l-7.586 -7.586a1 1 0 0 0 -1.414 0l-2.586 2.586a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0z" />
                                            </svg>
                                        </a>
                                        <a title="HISTORIAL DE ACCIONES" href="{% url 'ver_historial_acciones' ip=ip.ip %}">                                            
                                            <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="50"
                                            height="50"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="#b0745e"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            >
                                            <path d="M12 8l0 4l2 2" />
                                            <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                                            </svg>
                                        </a> 
                                    </li>                                                
                                </ul>
                            </div>
                            <div class="listado_informacion_data">
                                <h3 class="no-margin">Caracteristicas:</h3>
                                <ul>
                                    <li><span>Tipo:</span> {{ ip.tipo_equipo_asignado.nombre_tipo_equipo|default:"None" }}</li>
                                    <li><span>Rol:</span> {{ ip.roll_ip }}</li>
                                    <li><span>Seccion:</span> {{ ip.seccion.nombre_seccion|default:"None" }}</li>                                                
                                    <li><span>Marca:</span> {{ ip.marca_equipo_asignado|default:"None" }}</li>
                                    <li><span>Modelo:</span> {{ ip.modelo_equipo_asignado|default:"None" }}</li>
                                    <li><span>Nivel-Firewall:</span> {{ ip.nivel_firewall.nombre_nivel|default:"None" }}</li>
                                    <li><span>Ubicacion:</span> {{ ip.oficina.nombre_oficina|default:"None" }}</li>
                                </ul>
                            </div>                                        
                        </div>
                    </div>
                </td>                                       
        {% endfor %}
    </tbody>
</table>                           