{% extends '../layout.html' %}
{% block titulo %}Ip-Manager{% endblock  %}
{% block contenido %}
<body>
    <main class="contenedor__grande">
        <div class="contenido__table">                                    
            <h1 class="no-margin">Lista de IPs:</h1>                       
            <div class="opciones__table">
                <div class="opciones__table--boton">
                    <a title="AGREGAR ACCION REALIZADA A LA IP" href="{% url 'agregar_accion' %}">+ Agregar Acciones</a>                    
                </div>                
                <div class="opciones__table--iconos">
                    <a  title="GENERAR LISTA IPS" href="{% url 'generar_excel_ip' %}">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    viewBox="2 0 25 20"
                    fill="none"
                    stroke="#41b955"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    >
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2" />
                    <path d="M10 12l4 5" />
                    <path d="M10 17l4 -5" />
                    </svg>
                    </a>   
                </div>                                
                             
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>Roll Asignado</th>                        
                        <th>Nombre Colaborador</th>
                        <th>Seccion</th>
                        <th>Nivel Firewall</th>
                        <th>Tipo Equipo</th>
                        <th>Marca Equipo</th>
                        <th>Modelo Equipo</th>
                        <th>Oficina</th>
                        <th>Estado</th>
                        <th>Opciones</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for ip in listado_ips %}                    
                    <tr>
                        <td>{{ ip.ip }}</td>
                        <td>{{ ip.roll_ip }}</td>                        
                        <td>{{ ip.colaborador_asignado.nombre_colaborador|default:"Sin colaborador Asignado" }}</td>
                        <td>{{ ip.seccion.nombre_seccion|default:"None" }}</td>
                        <td>{{ ip.nivel_firewall.nombre_nivel|default:"None" }}</td>
                        <td>{{ ip.tipo_equipo_asignado.nombre_tipo_equipo|default:"None" }}</td>
                        <td>{{ ip.marca_equipo_asignado|default:"None" }}</td>
                        <td>{{ ip.modelo_equipo_asignado|default:"None" }}</td>
                        <td>{{ ip.oficina.nombre_oficina|default:"None" }}</td>                                            
                        <td>{{ ip.codigo_estado.nombre_estado }}</td>                                            
                        <td>
                            <div>
                                <a title="EDITAR DATOS DE LA IP" href="{% url 'editar_ip' pk=ip.pk %}">
                                    <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="28"
                                    height="28"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="#5856d6"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    >
                                    <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                    <path d="M13.5 6.5l4 4" />
                                    </svg>
                                </a>                                  
                                <a title="HISTORIAL DE ACCIONES" href="{% url 'ver_historial_acciones' pk=ip.pk %}">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="28"
                                height="28"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#b0745e"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                >
                                <path d="M12 8l0 4l2 2" />
                                <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5" />
                                </svg>
                                </a>                             
                            </div>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>    
{% endblock  %}