{% extends 'layout2.html' %}
{% block titulo %}LOGIN{% endblock  %}
{% block contenido %}
<body>
    <!--Mensaje set flash-->
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}    
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% if request.GET.next %}   
    <div class="contenedor-login">
        <form action="{% url 'pagina_login' %}?next={{ request.GET.next }}" method="post">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% else %}
        <form action="{% url 'pagina_login' %}" method="post">
        {% endif %}
            {% csrf_token %}
            <div class="login">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="128"
                height="128"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#000000"
                stroke-width="2.25"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
                {{ form.usuario }}
                {{ form.password }}
                <button class="boton" type="submit">Ingresar</button>
            </div>                
        </form>
    </div>    
</body>
{% endblock  %}